__pycache__/
*$py.class

venv/
.env/
.venv/
pip-log.txt

.ipynb_checkpoints/

*.log
*.out
*.err
logs/
debug.log

.vscode/
.idea/
*.sublime-workspace

.DS_Store
Thumbs.db

*.tmp
*.swp
*.swo

*checkpoints*/
*/*checkpoints*/
